In [69]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
from string import ascii_lowercase

Here we are combining the two sets of current data that we scraped. This should serve as a model should you need to combine multiple data dfs for college, income, etc.

In [70]:
part1 = pd.read_csv('Data/arCurData.csv')
part2 = pd.read_csv('Data/szCur.csv')
dfcur = part1
dfcur = dfcur.append(part2)

incomedf = pd.read_csv('Data/CurPlayerIncome.csv')
result = pd.merge(dfcur,incomedf,on=['Season','Player'])

#Currency stripping came from 
#http://stackoverflow.com/questions/8421922/how-do-i-convert-a-currency-string-to-a-floating-point-number-in-python

from re import sub
from decimal import Decimal
salarys = result['Salary'].values
new_salarys = map((lambda string: int(sub(r'[^\d.]', '', string))),salarys)
result['Salary'] = new_salarys
new_result = result.set_index(result.Player)
new_vals = map(lambda x: x[0:7], dfcur.Season.values)
dfcur['Season'] = new_vals
#dfcur.to_csv("Data/curdf.csv")

# Start of Diana's Code

In [71]:
#dataframe of players who have finished their NBA career
df=pd.read_csv("Data/dftouse.csv")
print df.shape
df.head()

(8608, 33)

           Player   2P   2P%  2PA 3P   3P% 3PA   AST  Age  BLK  DRB   FG   FG%  FGA  FT   FT%  FTA   G  GS   Lg    MP  ORB   PF  PTS        Player.1 Pos   STL   Season  TOV    TRB   Tm  eFG%  Salary
0  Alaa Abdelnaby   55  .474  116  0   NaN   0  12.0   22   12   62   55  .474  116  25  .568   44  43   0  NBA   290   27   39  135  Alaa Abdelnaby  PF   4.0  1990-91   22   89.0  POR  .474  395000
1  Alaa Abdelnaby  178  .493  361  0   NaN   0  30.0   23   16  179  178  .493  361  76  .752  101  71   1  NBA   934   81  132  432  Alaa Abdelnaby  PF  25.0  1991-92   66  260.0  POR  .493  494000
2  Alaa Abdelnaby  245  .519  472  0  .000   1  27.0   24   26  211  245  .518  473  88  .759  116  75  52  NBA  1311  126  189  578  Alaa Abdelnaby  PF  25.0  1992-93   97  337.0  TOT  .518  500000
3  Alaa Abdelnaby   26  .473   55  0  .000   1  10.0   24    4   25   26  .464   56  12  .750   16  12   0  NBA   159   12   24   64  Alaa Abdelnaby  PF   6.0  1992-93   13   37.0  MIL  .464  500000
4  Alaa Abdelnaby  219  .525  417  0   NaN   0  17.0   24   22  186  219  .525  417  76  .760  100  63  52  NBA  1152  114  165  514  Alaa Abdelnaby  PF  19.0  1992-93   84  300.0  BOS  .525  500000

In [72]:
#remove duplicate/unnecessary columns
df=df.drop(['Player.1','Lg'], 1)
print df.shape
df.head()

(8608, 31)

           Player   2P   2P%  2PA 3P   3P% 3PA   AST  Age  BLK  DRB   FG   FG%  FGA  FT   FT%  FTA   G  GS    MP  ORB   PF  PTS Pos   STL   Season  TOV    TRB   Tm  eFG%  Salary
0  Alaa Abdelnaby   55  .474  116  0   NaN   0  12.0   22   12   62   55  .474  116  25  .568   44  43   0   290   27   39  135  PF   4.0  1990-91   22   89.0  POR  .474  395000
1  Alaa Abdelnaby  178  .493  361  0   NaN   0  30.0   23   16  179  178  .493  361  76  .752  101  71   1   934   81  132  432  PF  25.0  1991-92   66  260.0  POR  .493  494000
2  Alaa Abdelnaby  245  .519  472  0  .000   1  27.0   24   26  211  245  .518  473  88  .759  116  75  52  1311  126  189  578  PF  25.0  1992-93   97  337.0  TOT  .518  500000
3  Alaa Abdelnaby   26  .473   55  0  .000   1  10.0   24    4   25   26  .464   56  12  .750   16  12   0   159   12   24   64  PF   6.0  1992-93   13   37.0  MIL  .464  500000
4  Alaa Abdelnaby  219  .525  417  0   NaN   0  17.0   24   22  186  219  .525  417  76  .760  100  63  52  1152  114  165  514  PF  19.0  1992-93   84  300.0  BOS  .525  500000

In [73]:
#dataframe of current NBA players
dfcur=pd.read_csv("Data/curdf.csv")
print dfcur.shape
dfcur.head()

(3728, 35)

       Player    Player.1   2P    2P%  2PA  3P   3P% 3PA  AST  Age  BLK  DRB   FG    FG%  FGA  FT    FT%  FTA   G  GS   Lg    MP  ORB   PF  PTS  Player.1_x Pos  STL   Season  TOV  TRB   Tm   eFG%  Player.1_y  Salary
0  Quincy Acy  Quincy Acy   41  0.562   73   1  .500   2   11   22   15   47   42  0.560   75  31  0.816   38  29   0  NBA   342   30   53  116  Quincy Acy  PF   13  2012-13   17   77  TOR  0.567  Quincy Acy  665000
1  Quincy Acy  Quincy Acy   62  0.492  126   4  .267  15   28   23   26  144   66  0.468  141  35  0.660   53  63   0  NBA   847   72  122  171  Quincy Acy  SF   23  2013-14   30  216  TOT  0.482  Quincy Acy  788872
2  Quincy Acy  Quincy Acy    4  0.444    9   2  .400   5    4   23    3   10    6  0.429   14   5  0.625    8   7   0  NBA    61    5    8   19  Quincy Acy  SF    4  2013-14    2   15  TOR  0.500  Quincy Acy  788872
3  Quincy Acy  Quincy Acy   58  0.496  117   2  .200  10   24   23   23  134   60  0.472  127  30  0.667   45  56   0  NBA   786   67  114  152  Quincy Acy  SF   19  2013-14   28  201  SAC  0.480  Quincy Acy  788872
4  Quincy Acy  Quincy Acy  134  0.494  271  18  .300  60   68   24   22  222  152  0.459  331  76  0.784   97  68  22  NBA  1287   79  147  398  Quincy Acy  PF   27  2014-15   60  301  NYK  0.486  Quincy Acy  915243

In [74]:
#remove duplicate/unnecessary columns
dfcur=dfcur.drop(['Player.1','Player.1_x', 'Player.1_y', 'Lg'], 1)
print dfcur.shape
dfcur.head()

(3728, 31)

       Player   2P    2P%  2PA  3P   3P% 3PA  AST  Age  BLK  DRB   FG    FG%  FGA  FT    FT%  FTA   G  GS    MP  ORB   PF  PTS Pos  STL   Season  TOV  TRB   Tm   eFG%  Salary
0  Quincy Acy   41  0.562   73   1  .500   2   11   22   15   47   42  0.560   75  31  0.816   38  29   0   342   30   53  116  PF   13  2012-13   17   77  TOR  0.567  665000
1  Quincy Acy   62  0.492  126   4  .267  15   28   23   26  144   66  0.468  141  35  0.660   53  63   0   847   72  122  171  SF   23  2013-14   30  216  TOT  0.482  788872
2  Quincy Acy    4  0.444    9   2  .400   5    4   23    3   10    6  0.429   14   5  0.625    8   7   0    61    5    8   19  SF    4  2013-14    2   15  TOR  0.500  788872
3  Quincy Acy   58  0.496  117   2  .200  10   24   23   23  134   60  0.472  127  30  0.667   45  56   0   786   67  114  152  SF   19  2013-14   28  201  SAC  0.480  788872
4  Quincy Acy  134  0.494  271  18  .300  60   68   24   22  222  152  0.459  331  76  0.784   97  68  22  1287   79  147  398  PF   27  2014-15   60  301  NYK  0.486  915243

In [75]:
#checks and merges if columns from both dataframes match
if df.columns.all() == dfcur.columns.all():
    dfnew=pd.concat([df, dfcur],ignore_index=True)
    print dfnew.shape
else:
    print "mismatched columns"

(12336, 31)

In [76]:
dfnew.head()

           Player   2P   2P%  2PA 3P   3P% 3PA   AST  Age  BLK  DRB   FG   FG%  FGA  FT   FT%  FTA   G  GS    MP  ORB   PF  PTS Pos   STL   Season  TOV    TRB   Tm  eFG%  Salary
0  Alaa Abdelnaby   55  .474  116  0   NaN   0  12.0   22   12   62   55  .474  116  25  .568   44  43   0   290   27   39  135  PF   4.0  1990-91   22   89.0  POR  .474  395000
1  Alaa Abdelnaby  178  .493  361  0   NaN   0  30.0   23   16  179  178  .493  361  76  .752  101  71   1   934   81  132  432  PF  25.0  1991-92   66  260.0  POR  .493  494000
2  Alaa Abdelnaby  245  .519  472  0  .000   1  27.0   24   26  211  245  .518  473  88  .759  116  75  52  1311  126  189  578  PF  25.0  1992-93   97  337.0  TOT  .518  500000
3  Alaa Abdelnaby   26  .473   55  0  .000   1  10.0   24    4   25   26  .464   56  12  .750   16  12   0   159   12   24   64  PF   6.0  1992-93   13   37.0  MIL  .464  500000
4  Alaa Abdelnaby  219  .525  417  0   NaN   0  17.0   24   22  186  219  .525  417  76  .760  100  63  52  1152  114  165  514  PF  19.0  1992-93   84  300.0  BOS  .525  500000

In [77]:
#drops players who did not play in a season
noplay = dfnew[dfnew['Tm'].str.contains("Did").values == True].index.tolist()
for a in noplay:
    try: 
        player = dfnew['Player'][a]
    except:
        pass
    mask=(dfnew['Player'] == player).values
    dfnew = dfnew[~mask]
dfnew[:50]

                 Player   2P   2P%   2PA   3P    3P%  3PA    AST  Age  BLK  DRB   FG   FG%   FGA   FT    FT%  FTA   G  GS    MP  ORB   PF   PTS Pos    STL   Season  TOV    TRB   Tm  eFG%    Salary
0        Alaa Abdelnaby   55  .474   116    0    NaN    0   12.0   22   12   62   55  .474   116   25   .568   44  43   0   290   27   39   135  PF    4.0  1990-91   22   89.0  POR  .474    395000
1        Alaa Abdelnaby  178  .493   361    0    NaN    0   30.0   23   16  179  178  .493   361   76   .752  101  71   1   934   81  132   432  PF   25.0  1991-92   66  260.0  POR  .493    494000
2        Alaa Abdelnaby  245  .519   472    0   .000    1   27.0   24   26  211  245  .518   473   88   .759  116  75  52  1311  126  189   578  PF   25.0  1992-93   97  337.0  TOT  .518    500000
3        Alaa Abdelnaby   26  .473    55    0   .000    1   10.0   24    4   25   26  .464    56   12   .750   16  12   0   159   12   24    64  PF    6.0  1992-93   13   37.0  MIL  .464    500000
4        Alaa Abdelnaby  219  .525   417    0    NaN    0   17.0   24   22  186  219  .525   417   76   .760  100  63  52  1152  114  165   514  PF   19.0  1992-93   84  300.0  BOS  .525    500000
5        Alaa Abdelnaby   24  .436    55    0    NaN    0    3.0   25    3   34   24  .436    55   16   .640   25  13   0   159   12   20    64  PF    2.0  1993-94   17   46.0  BOS  .436    805000
6        Alaa Abdelnaby  118  .515   229    0   .000    2   13.0   26   12   77  118  .511   231   20   .571   35  54   0   506   37  104   256  PF   15.0  1994-95   45  114.0  TOT  .511    650000
7        Alaa Abdelnaby  117  .537   218    0   .000    2   13.0   26   12   72  117  .532   220   20   .571   35  51   0   476   34  102   254  PF   15.0  1994-95   40  106.0  SAC  .532    650000
8        Alaa Abdelnaby    1  .091    11    0    NaN    0    0.0   26    0    5    1  .091    11    0    NaN    0   3   0    30    3    2     2  PF    0.0  1994-95    5    8.0  PHI  .091    650000
9    Mahmoud Abdul-Rauf  393  .432   909   24   .240  100  206.0   21    4   87  417  .413  1009   84   .857   98  67  19  1505   34  149   942  PG   55.0  1990-91  110  121.0  DEN  .425   1660000
10   Mahmoud Abdul-Rauf  325  .433   751   31   .330   94  192.0   22    4   92  356  .421   845   94   .870  108  81  11  1538   22  130   837  PG   44.0  1991-92  117  114.0  DEN  .440   2008000
11   Mahmoud Abdul-Rauf  563  .465  1210   70   .355  197  344.0   23    8  174  633  .450  1407  217   .935  232  81  81  2710   51  179  1553  PG   84.0  1992-93  187  225.0  DEN  .475   2358000
12   Mahmoud Abdul-Rauf  546  .476  1146   42   .316  133  362.0   24   10  141  588  .460  1279  219   .956  229  80  78  2617   27  150  1437  PG   82.0  1993-94  151  168.0  DEN  .476   1825000
13   Mahmoud Abdul-Rauf  389  .492   790   83   .386  215  263.0   25    9  105  472  .470  1005  138   .885  156  73  43  2082   32  126  1165  PG   77.0  1994-95  119  137.0  DEN  .511   2200000
14   Mahmoud Abdul-Rauf  293  .454   646  121   .392  309  389.0   26    3  112  414  .434   955  146   .930  157  57  53  2029   26  117  1095  PG   64.0  1995-96  115  138.0  DEN  .497   2600000
15   Mahmoud Abdul-Rauf  317  .468   678   94   .382  246  189.0   27    6  106  411  .445   924  115   .846  136  75  51  2131   16  174  1031  PG   56.0  1996-97  119  122.0  SAC  .496   3100000
16   Mahmoud Abdul-Rauf   98  .405   242    5   .161   31   58.0   28    1   31  103  .377   273   16  1.000   16  31   0   530    6   31   227  PG   16.0  1997-98   19   37.0  SAC  .386   3300000
17    Tariq Abdul-Wahad  140  .414   338    4   .211   19   51.0   23   13   72  144  .403   357   84   .672  125  59  16   959   44   81   376  SG   35.0  1997-98   65  116.0  SAC  .409   1226880
18    Tariq Abdul-Wahad  171  .443   386    6   .286   21   50.0   24   16  114  177  .435   407   94   .691  136  49  49  1205   72  121   454  SG   50.0  1998-99   70  186.0  SAC  .442   1411000
19    Tariq Abdul-Wahad  271  .435   623    3   .130   23   98.0   25   28  190  274  .424   646  146   .756  193  61  56  1578  101  147   697  SG   59.0  1999-00  106  291.0  TOT  .426   1594920
20    Tariq Abdul-Wahad  221  .447   494    2   .095   21   72.0   25   16  162  223  .433   515  115   .762  151  46  46  1205   77  116   563  SG   53.0  1999-00   87  239.0  ORL  .435   1594920
21    Tariq Abdul-Wahad   50  .388   129    1   .500    2   26.0   25   12   28   51  .389   131   31   .738   42  15  10   373   24   31   134  SG    6.0  1999-00   19   52.0  DEN  .393   1594920
22    Tariq Abdul-Wahad   39  .386   101    4   .400   10   22.0   26   13   45   43  .387   111   21   .583   36  29  12   420   14   54   111  SG   14.0  2000-01   34   59.0  DEN  .405   4500000
23    Tariq Abdul-Wahad   54  .372   145    1   .500    2   24.0   27   10   43   55  .374   147   24   .727   33  24  12   441   41   56   135  SG   20.0  2001-02   27   84.0  TOT  .378   5062500
24    Tariq Abdul-Wahad   54  .378   143    1   .500    2   22.0   27    9   39   55  .379   145   24   .750   32  20  12   417   39   51   135  SG   18.0  2001-02   24   78.0  DEN  .383   5062500
25    Tariq Abdul-Wahad    0  .000     2    0    NaN    0    2.0   27    1    4    0  .000     2    0   .000    1   4   0    24    2    5     0  SG    2.0  2001-02    3    6.0  DAL  .000   5062500
26    Tariq Abdul-Wahad   27  .474    57    0   .000    1   21.0   28    3   26   27  .466    58    3   .500    6  14   0   204   14   26    57  SG    6.0  2002-03    7   40.0  DAL  .466   5625000
27  Shareef Abdur-Rahim  543  .457  1187    7   .259   27  175.0   20   79  339  550  .453  1214  387   .746  519  80  71  2802  216  199  1494  PF   79.0  1996-97  225  555.0  VAN  .456   2186000
28  Shareef Abdur-Rahim  565  .478  1181   29   .302   96  271.0   23   87  607  594  .465  1277  446   .809  551  82  82  3223  218  244  1663  SF   89.0  1999-00  249  825.0  VAN  .477   9000000
29  Shareef Abdur-Rahim  592  .487  1216   12   .188   64  250.0   24   77  560  604  .472  1280  443   .834  531  81  81  3241  175  238  1663  SF   90.0  2000-01  231  735.0  VAN  .477  10130000
30  Shareef Abdur-Rahim  545  .485  1123   21   .350   60  242.0   26   38  502  566  .478  1183  455   .841  541  81  81  3087  175  240  1608  PF   87.0  2002-03  212  677.0  ATL  .487  12375000
31  Shareef Abdur-Rahim  492  .482  1020    9   .265   34  174.0   27   37  450  501  .475  1054  373   .869  429  85  56  2684  189  222  1384  PF   68.0  2003-04  184  639.0  TOT  .480  13500000
32  Shareef Abdur-Rahim  378  .493   767    5   .217   23  127.0   27   19  354  383  .485   790  294   .880  334  53  53  1956  141  147  1065  PF   44.0  2003-04  131  495.0  ATL  .488  13500000
33  Shareef Abdur-Rahim  114  .451   253    4   .364   11   47.0   27   18   96  118  .447   264   79   .832   95  32   3   728   48   75   319  PF   24.0  2003-04   53  144.0  POR  .455  13500000
34  Shareef Abdur-Rahim  322  .510   631   15   .385   39  111.0   28   26  269  337  .503   670  220   .866  254  54  49  1867  123  150   909  PF   49.0  2004-05  117  392.0  POR  .514  14625000
35  Shareef Abdur-Rahim  327  .536   610    5   .227   22  149.0   29   42  251  332  .525   632  218   .784  278  72  30  1961  106  227   887  PF   48.0  2005-06  108  357.0  SAC  .529   5000000
36  Shareef Abdur-Rahim  307  .484   634    3   .150   20  109.0   30   40  276  310  .474   654  170   .726  234  80  45  2015  122  243   793   C   53.0  2006-07  116  398.0  SAC  .476   5400000
37  Shareef Abdur-Rahim    3  .214    14    0    NaN    0    4.0   31    0    4    3  .214    14    4  1.000    4   6   0    51    6    9    10  PF    1.0  2007-08    1   10.0  SAC  .214   5800000
40           Mark Acres  108  .532   203    0    NaN    0   42.0   25   27  165  108  .532   203   71   .640  111  79   5  1151  105  198   287   C   29.0  1987-88   54  270.0  BOS  .532     75000
41           Mark Acres   54  .478   113    1  1.000    1   19.0   26    6   87   55  .482   114   26   .542   48  62   0   632   59   94   137   C   19.0  1988-89   23  146.0  BOS  .487    300000
42           Mark Acres  108  .512   211    1   .333    3   25.0   28   25  219  109  .509   214   66   .653  101  68   0  1313  140  218   285   C   25.0  1990-91   42  359.0  ORL  .512    437000
43           Mark Acres   77  .520   148    1   .333    3   22.0   29   15  155   78  .517   151   51   .761   67  68   6   926   97  140   208   C   25.0  1991-92   33  252.0  ORL  .520    547000
44           Mark Acres   25  .532    47    1   .500    2    5.0   30    6   41   26  .531    49   11   .688   16  18   7   269   26   34    64   C    3.0  1992-93   13   67.0  TOT  .541    250000
45           Mark Acres    1  .143     7    1   .500    2    0.0   30    0    4    2  .222     9    1   .500    2   6   0    23    2    2     6   C    0.0  1992-93    2    6.0  HOU  .278    250000
46           Mark Acres   24  .600    40    0    NaN    0    5.0   30    6   37   24  .600    40   10   .714   14  12   7   246   24   32    58   C    3.0  1992-93   11   61.0  WSB  .600    250000
47          Alvan Adams  341  .504   677    0   .000    2  324.0   31   46  329  341  .502   679  159   .783  203  78  45  2005  148  272   841   C  103.0  1985-86  206  477.0  PHO  .502    600000
48          Alvan Adams  250  .496   504    1   .500    2  183.0   33   41  247  251  .496   506  108   .844  128  82  25  1646  118  245   611   C   82.0  1987-88  140  365.0  PHO  .497    675000
49         Hassan Adams   75  .560   134    0   .000    1   13.0   22    4   42   75  .556   135   24   .667   36  61   8   495   35   47   174  SG   17.0  2006-07   22   77.0  NJN  .556    412718
50        Michael Adams   16  .390    41    0   .000    3   22.0   23    1    4   16  .364    44    8   .667   12  18   0   139    2    9    40  PG    9.0  1985-86   11    6.0  SAC  .364     85000
51        Michael Adams  277  .505   548  139   .367  379  503.0   25   16  183  416  .449   927  166   .834  199  82  75  2778   40  138  1137  PG  168.0  1987-88  144  223.0  DEN  .524    160000

In [78]:
#resets index 
dfnew.reset_index(drop=True, inplace=True)
print dfnew.shape

(11617, 31)

In [79]:
#strings to float
tofloat = ['2P','2P%','2PA','3P','3P%','3PA','AST','Age','BLK','DRB','FG','FG%','FGA','FT','FT%','FTA','G','GS','MP','ORB','PF','PTS','STL','TOV','TRB','eFG%','Salary']
for x in tofloat:
    dfnew[x] = dfnew[x].astype(float)

In [80]:
#removes rows contributing to TOT values
#We're looking at total seasons, not portions of seasons
tot = dfnew[dfnew['Tm'].values == "TOT"].index.tolist()
for a in tot:
    for x in range(1,16):
        if a+1 in tot:
            tot.remove(a+1)
        if a+2 in tot:
            tot.remove(a+2)
            if a+3 in tot:
                print a, dfnew['Player'][a], dfnew['Season'][a],"error"
        if a+x<len(dfnew):
            if dfnew['Player'][a+x]==dfnew['Player'][a] and dfnew['Season'][a+x]==dfnew['Season'][a]:
                dfnew.drop([a+x], inplace = True)

In [81]:
#resets index
dfnew.reset_index(drop=True, inplace=True)
dfnew.head()

           Player   2P    2P%  2PA  3P  3P%  3PA  AST  Age  BLK  DRB   FG    FG%  FGA  FT    FT%  FTA   G  GS    MP  ORB   PF  PTS Pos  STL   Season  TOV  TRB   Tm   eFG%  Salary
0  Alaa Abdelnaby   55  0.474  116   0  NaN    0   12   22   12   62   55  0.474  116  25  0.568   44  43   0   290   27   39  135  PF    4  1990-91   22   89  POR  0.474  395000
1  Alaa Abdelnaby  178  0.493  361   0  NaN    0   30   23   16  179  178  0.493  361  76  0.752  101  71   1   934   81  132  432  PF   25  1991-92   66  260  POR  0.493  494000
2  Alaa Abdelnaby  245  0.519  472   0    0    1   27   24   26  211  245  0.518  473  88  0.759  116  75  52  1311  126  189  578  PF   25  1992-93   97  337  TOT  0.518  500000
3  Alaa Abdelnaby   24  0.436   55   0  NaN    0    3   25    3   34   24  0.436   55  16  0.640   25  13   0   159   12   20   64  PF    2  1993-94   17   46  BOS  0.436  805000
4  Alaa Abdelnaby  118  0.515  229   0    0    2   13   26   12   77  118  0.511  231  20  0.571   35  54   0   506   37  104  256  PF   15  1994-95   45  114  TOT  0.511  650000

In [82]:
#replaces NaN values with 0
nans=['2P%','3P%','FG%','FT%','eFG%']
for x in nans:
    dfnew[x].fillna(0, inplace=True)
dfnew.head()

           Player   2P    2P%  2PA  3P  3P%  3PA  AST  Age  BLK  DRB   FG    FG%  FGA  FT    FT%  FTA   G  GS    MP  ORB   PF  PTS Pos  STL   Season  TOV  TRB   Tm   eFG%  Salary
0  Alaa Abdelnaby   55  0.474  116   0    0    0   12   22   12   62   55  0.474  116  25  0.568   44  43   0   290   27   39  135  PF    4  1990-91   22   89  POR  0.474  395000
1  Alaa Abdelnaby  178  0.493  361   0    0    0   30   23   16  179  178  0.493  361  76  0.752  101  71   1   934   81  132  432  PF   25  1991-92   66  260  POR  0.493  494000
2  Alaa Abdelnaby  245  0.519  472   0    0    1   27   24   26  211  245  0.518  473  88  0.759  116  75  52  1311  126  189  578  PF   25  1992-93   97  337  TOT  0.518  500000
3  Alaa Abdelnaby   24  0.436   55   0    0    0    3   25    3   34   24  0.436   55  16  0.640   25  13   0   159   12   20   64  PF    2  1993-94   17   46  BOS  0.436  805000
4  Alaa Abdelnaby  118  0.515  229   0    0    2   13   26   12   77  118  0.511  231  20  0.571   35  54   0   506   37  104  256  PF   15  1994-95   45  114  TOT  0.511  650000

In [83]:
print dfnew.shape

(9665, 31)

Here we created a function that adjusts for inflation so that we can compare salaries.  We then use this function, in conjunction with inflation data we collected, to replace salaries in the dataframe with the adjusted counterparts.

In [84]:
# We got our data from: http://www.bls.gov/data/inflation_calculator.htm
def inflator(salary, year, rate_dict):
    rate = rate_dict[year]
    return rate*salary + salary

InflationRates = pd.read_csv('Data/Inflation Rates.csv')
Years = InflationRates.Year.values
Rates = InflationRates.Rate.values

InflationDict = dict()
for i in range(len(Years)):
    InflationDict[Years[i]] = Rates[i]

salaries = dfnew.Salary.values
years = dfnew.Season.values
new_vals = []
for i in range(len(dfnew.Salary.values)):
    new_vals.append(inflator(salaries[i],int(years[i][:4]),InflationDict))

dfnew['Salary'] = new_vals
#dfnew.to_csv('IncomeStatsDf.csv',index = False,encode='utf-8')